In [3]:
#Task-01

def stuinfo(name, age):
    print(name, age)

stuinfo("Zunaib", 20)

Zunaib 20

In [5]:
#Taks-02

def stuinfo(name, age):
    print(name, age)
    
showstuinfo = stuinfo

showstuinfo("Zunaib", 20)

Zunaib 20

# While Loop

In [12]:
x = int(input("Write a number: "))
a = 1

while a <= 10:
    print(x, " x ", a, " = ", a*x)
    a += 1

Write a number: 5
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

In [10]:
x = int(input("Write a number: "))
a = 1

while a <= 10:

    print(x, " x ", a, " = ", a*x)    
    if a == 5:
        break
    a += 1

Write a number: 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20

In [14]:
cleanest_cities = ["Karachi", "Islamabad", "Lahore"]

user_input = " "

while user_input != "q":
    
    user_input = input("Enter a city, or q to quit:")
    
    if user_input != "q":
        
        for a_clean_city in cleanest_cities:
            
            if user_input == a_clean_city:
                
                print("It's one of the cleanest cities")
                
                break

Enter a city, or q to quit:Karachi
It's one of the cleanest cities
Enter a city, or q to quit:Islamabad
It's one of the cleanest cities
Enter a city, or q to quit:Multan
Enter a city, or q to quit:Lahore
It's one of the cleanest cities
Enter a city, or q to quit:q

In [15]:
def say_something():
    what_to_say = "salam"
    print(what_to_say)
    
 
def full_name(first, last):
    fullName = first + last
    
    say_something()
    
    return fullName

    
full_name("Bilal ", "Ahmed")

salam

'Bilal Ahmed'

In [18]:
cleanest_cities = ["Karachi", "Islamabad", "Lahore"]

keep_looping = True

while keep_looping == True:
    
    user_input = input("Enter a city, or q to quit:")
    
    if user_input != "q":
        
        for a_clean_city in cleanest_cities:
            
            if user_input == a_clean_city:
                
                print("It's one of the cleanest cities")
                
                break
    else:
        keep_looping = False

Enter a city, or q to quit:Lahore
It's one of the cleanest cities
Enter a city, or q to quit:Karachi
It's one of the cleanest cities
Enter a city, or q to quit:multan
Enter a city, or q to quit:q

# Classes

In [35]:
class Employee:
    
    no_of_leaves = 8
    
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary       


zunaib = Employee("Zunaib", 20, 12000)

bilal = Employee("Bilal", 15, 8000)


'''
zunaib.name = "Zunaib"
zunaib.age = 20
zunaib.salary = 15000


bilal.name = "Bilal"
bilal.age = 22
bilal.salary = 25000
'''

'\n\n\n\nzunaib.name = "Zunaib"\nzunaib.age = 20\nzunaib.salary = 15000\n\n\nbilal.name = "Bilal"\nbilal.age = 22\nbilal.salary = 25000\n'

In [31]:
print(zunaib.salary, zunaib.age, zunaib.name)
print(bilal.name, bilal.age, bilal.salary)

12000 20 Zunaib
Bilal 15 8000

In [36]:
zunaib.no_of_leaves

8

In [43]:
print("Employee Name: \t\t", zunaib.name,"\n","Employee Name: \t\t", bilal.name, "\n")
#print("Employee Name: \t\t", bilal.name, "\n")

Employee Name: 		 Zunaib
 Employee Name: 		 Bilal

In [44]:
class Employee:
    pass

zunaib = Employee()

bilal = Employee()

zunaib.name = "Zunaib"
zunaib.age = 20
zunaib.salary = 15000


bilal.name = "Bilal"
bilal.age = 22
bilal.salary = 25000

In [45]:
zunaib.name

'Zunaib'

In [53]:
class Employee:
    
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary      
        
    def empInfo(self):
        return f"Employee Name: {self.name}. Employee Age: {self.age}. Employee Salary: {self.salary}."
        
zunaib = Employee("Zunaib", 20, 12000)

bilal = Employee("Bilal", 15, 8000)

In [55]:
zunaib.empInfo()

'Employee Name: Zunaib. Employee Age: 20. Employee Salary: 12000.'

In [59]:
a = "zunaib"
b = 20
c = "Karachi"

print(f"Name: {a}. Age: {b}. City: {c} ")

Name: zunaib. Age: 20. City: Karachi

In [62]:
class Patient:
    
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city      
        
        
pid001 = Patient("Zunaib", 20, "Karachi")

pid002 = Patient("Abdullah", 15, "Islamabad")

pid001.name = "Amna"

In [64]:
pid001.name

'Amna'

In [66]:
pid001.city

'Karachi'